<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>carryhome</title>
  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body { padding-top:100px; }
  </style>
</head>
<body class="container">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">carryhome</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://carryhome.in/">Home</a>
      </li>
    </ul>
  </nav>
</header>
<main>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1>Welcome to CarryHome !</h1>
      <p>carryhome up & running . . .</p>
    </div>
  </div>
</div>
</main>
<footer>
  <p class="text-center text-muted">&copy; Copyright 2021 carryhome.in</p>
</footer>

</body>
</html>